* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.imagtam {
    width: 100%;
}

.imag:hover{
    filter: grayscale(0.2);
    transform: scale(1.05);
    transition: 0.3s;

}
.fixe{
    display: none;
}