@mixin anclas {
    width: 115px;
    height: 50px;
    border-color: rgb(124, 183, 238);
    border-width: 1px;
    border-radius: 8px;
    background-color: aliceblue;
}

.button1 {
    @include anclas;
}

button:hover {
    background-color: $background-color_2;
}

a{
    text-decoration-line: none;
}

button{
    @extend .button1
}
