section {

    .bloque1 {
        text-align: center;


        .servicios1 {
            padding: 45px 10px;
            border-top: 2px solid blue;
            box-shadow: 0px 30px 40px -45px;
            margin-top: 40px;
        }

        .servicios2 {
            padding: 45px 10px;
            border-top: 2px solid red;
            box-shadow: 0px 30px 40px -45px;
            margin-top: 40px;
        }

        .servicios3 {
            padding: 45px 10px;
            border-top: 2px solid green;
            box-shadow: 0px 30px 40px -45px;
            margin-top: 40px;
        }

    }
}

section {

    .sservicios {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}