section {

    .bloque2 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .titulos2 {
            margin: auto;
            padding-top: 50px;
        }

        .imagTrabajo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 45px 10px;

            .imag {
                padding: 10px;
                width: 100%;
            }
        }


    }
}